header {
    padding-top: 70px;
    background-color: var(--bg-tertiary);
    font-family: var(--font-primary);
    color: var(--text-primary); 
    font-weight: var(--font-weight-bold);
    max-width: 100%;
    overflow: hidden;
}

.main-pic {
    object-fit: contain;
    margin-left: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--container-max-width);
    padding: var(--spacing-5xl) var(--spacing-3xl);
    margin: 0 auto;
    gap: var(--spacing-5xl);
}
.header-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
