header, body {
    background-color: #FAFAFA;
}

nav {
    background: linear-gradient(to bottom, #FAFAFA, transparent);
}

.your-cart {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.your-cart h5 {
    margin-top: 2rem;
    margin-right: 1.9cm;
    font-size: 11px;
}

.order-summary {
	flex: 1;
	margin-left: auto;
	height: 100%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    max-width: 320px;
    color: black;
}

.summary-header {
    padding: 20px;
    background: rgba(255,255,255,0.1);
    text-align: start;
}

.summary-header h3 {
    margin: 0;
    font-size: 20px;
}

.summary-body {
    padding: 20px;
    background: white;
    color: #333;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    font-size: 16px;
}

.summary-row.total {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    margin: 20px 0;
}

.divider {
    height: 1px;
    background: #000000;
    margin: 15px 0;
}

.checkout-btn {
    width: 100%;
    padding: 15px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;

}
.cart-body {
	display: flex;
	flex-direction: rows;
}

.cart-but-empty {
	flex: 1;
	margin-right: auto;
    text-align: start;
    padding: 60px 20px;
    margin: 40px 0;
}

.cart-but-empty h2 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.cart-but-empty p {
    color: #64748b;
    margin-bottom: 30px;
}

.continue-shopping-btn {
    background: #6B6EF1;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s ease;
}

.continue-shopping-btn:hover {
    background: #000000;
}

.item-info {
    margin-bottom: 16px;
    background: white;
    width: 760px;
    height: 128px;
    top: 88px;
    left: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
}

.item-cover {
    width: 64px;
    height: 96px;
    object-fit: contain;
    flex-shrink: 0;
}

.item-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    color: #1a1a1a;
}

.item-author {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin-left: 10px;
    color: #666;
}

.remove-btn {
    background: #000000;
    color: white;
    padding: 12px 15px;
    border-radius: 10px;
    margin-left: auto;
    font-weight: 500;
    border: none;
}

.remove-btn:hover {
    background: #6B6EF1;

}