nav {
    display: flex;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    gap: 20px;
    background: linear-gradient(to bottom, #E4E4E7, transparent);
}
.nav-links {
          display: flex;
          gap: 30px;
          list-style: none;
      }
      
.nav-links a {
          color:  #312F5A;
          text-decoration: none;
          font-weight: 600;
          font-size: 16px;
          letter-spacing: 0.3px;
          padding: 8px 5px;
          position: relative;
      }
      
.nav-links a:hover {           /*анимация*/
          color: #312F5A;
      }

.nav-links a::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          background-color: #312F5A;
          transition: width 0.3s ease;
      }
      
.nav-links a:hover::after {
          width: 100%;
      }
      
.nav-links a.active {
          color: #312F5A;
      }
      
.nav-links a.active::after {
          width: 100%;
      }